.alert-success {
    background-color: rgb(0, 60, 0);
    color: rgb(255, 255, 255);
}

.alert-warning {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.alert-danger {
    background-color: rgb(143, 0, 0);
    color: rgb(255, 255, 255);
}

.alert-info {
    background-color: rgb(0, 0, 40);
    color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#scoresubmit {
    visibility: hidden;
}

#canvas {
    background: rgb(40, 0, 0);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(143, 0, 0)
}

.high-score {
    position: absolute;
    top: 1.5rem;
    width: 80%;
    left: 10%;
    text-align: center;
}

nav div {
    background-color: rgb(39, 0, 0);
    height: 3.5%;
    width: 100%;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    color: rgb(218, 0, 36);
}

form {
    text-align: center;
}

input {
    border-radius: 15%;
}

body {
    background-color: rgb(9, 10, 15);
    color: rgb(136, 136, 136);
}

table,
th,
td {
    border: 1px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.spacer {
    color: rgb(9, 10, 15);
}

a.cursoranchor {
    color: rgb(218, 0, 36);
    margin-right: 5px;
}

a:visited {
    color: rgb(218, 0, 36);
}

.column div.editformhidden {
    display: none;
}

.column div.editformshown {
    display: block;
}